//////////// JS ANIMATION ////////////

// Animation for the page section //
.nav-drop {
  .dropdown {
    &__li {
      @for $i from 1 to 6 {
        &:nth-of-type(#{$i}) {
          animation: nav-drop 0.55s (150ms * $i) - 200 ease-in-out forwards;
        }
      }
    }
  }
}

.color-primary {
  transition: 0.5s;
  color: $color-primary-1;
}


////////////// CSS KEYFRAMES /////////////

@keyframes nav-drop {
  0% {
    transform: scale(0.3) translateY(-40px);
  }
  80% {
    transform: scale(1.2) translateY(4px);
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes rotateInfinite {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
