//////////// JS ANIMATION ////////////

// Animation for the page section //
.nav-drop {
  .dropdown {
    &__li {
      @for $i from 1 to 6 {
        display: block;
        &:nth-of-type(#{$i}) {
          animation: nav-drop 0.55s (150ms * $i) - 200 ease-in-out forwards;
        }
      }
    }
  }
}

// Hover effect for the hamburger // /*
.hamburger-hover {
  @include responsive(hover) {
    .nav__icon {
      &::before {
        top: -1rem;
      }
      &::after {
        top: 1rem;
      }
    }
  }
} 

// Effect that happens when Hamburger is clicked //
.hamburger-rotate {
  background-color: transparent !important;
  &::before {
    background-color: $color-white !important;
    transform: rotate(135deg);
    top: 0 !important;
  }

  &::after {
    background-color: $color-white !important;
    transform: rotate(-135deg);
    top: 0 !important;
  }
}

.nav-content.show {
  visibility: visible !important;
  clip-path: circle(1000px at 52% 50%) !important;
}
.nav-content__ul.show {
  transform: translate(-50%, -50%) !important;
}

.color-primary {
  transition: 0.5s;
  color: $color-primary-1;
}

////////////// CSS KEYFRAMES /////////////
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 3rem rgba(224, 36, 36, 0.411);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

@keyframes nav-drop {
  0% {
    transform: scale(0.3) translateY(-40px);
  }
  80% {
    transform: scale(1.2) translateY(4px);
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes rotateInfinite {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotate(0);
  }
}
