//////////// JS ANIMATION ////////////

// Animation for the page section //
.nav-drop {
  .dropdown {
    &__li {
      @for $i from 1 to 6 {
        display: block;
        &:nth-of-type(#{$i}) {
          animation: nav-drop 0.55s (150ms * $i) - 200 ease-in-out forwards;
        }
      }
    }
  }
}

// Hover effect for the hamburger //
.anchor-hover {
  @media only screen and (hover: hover) {
    &:hover {
      .header__nav {
        background-color: $color-primary-1;
        &::before {
          bottom: 0.95rem;
          background: inherit;

          //////// 400px ///////
          @media only screen and (max-width: 25em) {
            bottom: 1.1rem;
          }

          //////// 350px ///////
          @media only screen and (max-width: 21.875em) {
            bottom: 1.25rem;
          }
        }

        &::after {
          top: 0.9rem;
          background-color: inherit;

          //////// 700px ///////
          @media only screen and (max-width: 43.75em) {
            top: 1rem;
          }

          //////// 350px ///////
          @media only screen and (max-width: 21.875em) {
            top: 1.25rem;
          }
        }
      }
    }
  }
}

// Effect that happens when Hamburger is clicked //
.nav-rotate {
  background-color: transparent;
  &::before {
    background-color: $color-white;
    transform: rotate(135deg);
    bottom: 0;
  }

  &::after {
    background-color: $color-white;
    transform: rotate(-135deg);
    top: 0;
  }
}

// The Scale Backgroumd and the content appears Happens after Hmaburger is clicked //
.second-nav-show {
  .nav {
    &__bg {
      visibility: visible;
      transform: scale(80);
    }
    &__nav-content {
      &__reference {
      }
    }
  }
}

.color-primary {
  transition: 0.5s;
  color: $color-primary-1;
}

////////////// CSS KEYFRAMES /////////////
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 3rem rgba(224, 36, 36, 0.411);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

@keyframes nav-drop {
  0% {
    transform: scale(0.3) translateY(-40px);
  }
  80% {
    transform: scale(1.2) translateY(4px);
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes rotateInfinite {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotate(0);
  }
}
