.header {
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: rgba($color-white, 0.93);

  &__host {
    font-weight: bold;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 3px;
      transform-origin: left;
      top: 2.7rem;
      width: 1%;
      transition: 0.4s;
    }

    @media only screen and (hover: hover) {
      &:hover {
        &::after {
          background-color: $color-primary-1;
          width: 100%;
        }
      }
    }
  }

  &__anchor {
    display: inline-block;
    height: 3rem;

    @media only screen and (hover: hover) {
      &:hover {
        .header__nav {
          background-color: $color-primary-1;
          &::before {
            bottom: 0.95rem;
            background: inherit;

            //////// 400px ///////
            @media only screen and (max-width: 25em) {
              bottom: 1.1rem;
            }

            //////// 350px ///////
            @media only screen and (max-width: 21.875em) {
              bottom: 1.25rem;
            }
          }

          &::after {
            top: 0.9rem;
            background-color: inherit;

            //////// 700px ///////
            @media only screen and (max-width: 43.75em) {
              top: 1rem;
            }

            //////// 350px ///////
            @media only screen and (max-width: 21.875em) {
              top: 1.25rem;
            }
          }
        }
      }
    }

    &:focus {
      .header__nav {
        background-color: transparent;
        &::before {
          bottom: 0;
          background-color: $color-primary-1;
        }

        &::after {
          top: 0;
          background-color: $color-primary-1;
        }
      }
    }

    @media only screen and (hover: hover) {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__nav {
    display: inline-block;
    position: relative;
    background-color: black;
    width: 3rem;
    height: 2px;
    transition: 0.2s, transform 7s ease-in-out;

    //////// 250px ///////
    @media only screen and (max-width: 15.625em) {
      width: 4rem;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      left: 0;
      bottom: 0.7rem;
      transition: bottom 0.2s, transform 0.4s;

      //////// 400px ///////
      @media only screen and (max-width: 25em) {
        bottom: 0.85rem;
      }

      //////// 350px ///////
      @media only screen and (max-width: 21.875em) {
        bottom: 1rem;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      top: 0.65rem;
      left: 0;
      transition: top 0.2s, transform 0.4s;

      //////// 900px ///////
      @media only screen and (max-width: 56.25em) {
        top: 0.75rem;
      }

      //////// 350px ///////
      @media only screen and (max-width: 21.875em) {
        top: 1rem;
      }
    }
  }
}

.side-nav {
  &__anchor {
    @include img-rotate;
  }
}

.intro-section {

  &__btn {
    margin: 0 auto;
    padding-top: 5.5vh;
    margin-top: $mg-8;
    font-size: $font-size-sm-1;
    font-weight: bolder;
    width: max-content;

    //////// 350px ///////
    @media only screen and (max-width: 21.875em) {
      display: flex;
      flex-direction: column;
      font-size: $font-size-md-3;
      margin-top: 0;
      padding-top: $mg-12;
    }

    &-1 {
      @extend %button-set;
      background-color: $color-primary-1;
      color: $color-white;
      @include btn-animate(); 
    }

    &-2 {
      @extend %button-set;
      color: $color-primary-1;
      padding: 1.3rem 4.5rem;
      margin-left: 3rem;
      border: 1px solid $color-primary-1;

      @media only screen and (max-width: 21.875em) {
        margin-top: $mg-10;
        margin-left: 0;
        padding-top: 1.84rem;
        padding-bottom: 1.84rem;
      }
    }
  }
}

.articles {
  &__anchor-container {
    background-color: $color-primary-1;
    margin-left: auto;
    font-size: $font-size-md-2;
    padding: 0.5rem;
    width: 4.2rem;
    text-align: center;
    height: min-content;
    border-radius: 50%;
    min-width: 4.5rem;

    @media only screen and (hover: hover) {
      &:hover {
        cursor: pointer;

        .articles__arrows {
          width: 2.7rem;
        }
      }
    }
  }

  & [href="#"] {
    display: block;
    height: 100%;
    width: 100%;
  }
  &__arrows {
    display: inline-block;
    position: relative;
    background-color: $color-white;
    width: 2rem;
    height: 2px;
    transform: translateY(-0.6rem);
    transition: 0.2s;

    //////// 400px ///////
    @media only screen and (max-width: 25em) {
      height: 1.8px;
    }

    //////// 220px ///////
    @media only screen and (max-width: 13.75em) {
      height: 1.45px;
    }

    &::before {
      position: absolute;
      content: "";
      right: -0.1rem;
      bottom: 0.4rem;
      width: 1.2rem;
      height: 1.5px;
      background-color: inherit;
      transform: rotate(30deg);

      //////// 400px ///////
      @media only screen and (max-width: 25em) {
        height: 1.4px;
      }

      //////// 350px ///////
      @media only screen and (max-width: 21.875em) {
        right: -0.27rem;
        transform: rotate(36deg);
      }

      //////// 220px ///////
      @media only screen and (max-width: 13.75em) {
        height: 1px;
        transform: rotate(38deg);
      }
    }

    &::after {
      position: absolute;
      content: "";
      right: -0.2rem;
      top: 0.3rem;
      width: 1.2rem;
      height: 1.5px;
      background-color: inherit;
      transform: rotate(-32deg);

      //////// 400px ///////
      @media only screen and (max-width: 25em) {
        height: 1.4px;
      }

      //////// 220px ///////
      @media only screen and (max-width: 13.75em) {
        height: 1px;
        transform: rotate(-34deg);
      }
    }
  }
}

.form {
  grid-row: 6 / 7;
  grid-column: center-start / center-end;
  padding: 10vw 0 0;
  margin-bottom: 5rem;

  &__content {
    display: flex;
    padding: 0 2.5vw;
    margin-top: 3vw;

    //////// 500px ///////
    @media only screen and (max-width: 31.25em) {
      display: block;
    }

    //////// 220px ///////
    @media only screen and (max-width: 13.75em) {
      padding: 0;
    }
  }

  &__left {
    flex: 0 0 40%;
  }

  &__p {
    font-size: $font-size-md-4;
    margin-bottom: $mg-3;

    //////// 400px ///////
    @media only screen and (max-width: 25em) {
      font-size: $font-size-md-3;
    }

    &-1 {
      font-size: $font-size-md-3;
    }
    &-2 {
    }

    &-3 {
      display: inline-block;
      margin: $mg-4 0 0;
    }
  }

  &__h2 {
    font-size: $font-size-lg-2;
    color: $color-primary-1;

    //////// 500px ///////
    @media only screen and (max-width: 31.25em) {
      margin-bottom: $mg-16;
    }

    &-line {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        display: block;
        left: 0;
        top: 4.6rem;
        width: 108%;
        height: 3px;
        background-color: $color-primary-1;
      }
    }
  }

  &__h3 {
    font-size: $font-size-md-2;
    font-weight: 400;
    //////// 400px ///////
    @media only screen and (max-width: 25em) {
      font-size: $font-size-md-1;
    }

    &-1 {
      margin: $mg-5 0 $mg-4;
    }

    &-2 {
      margin: $mg-8 0 $mg-5;
    }
  }

  &__anchors {
    display: inline-block;
    &:not(:last-of-type) {
      margin-right: $mg-7;
    }
  }

  &__socials {
    width: 2.5rem;
  }

  &__right {
    flex: 0 0 1fr;
    margin-top: $mg-2;
    margin-left: 7rem;
    //////// 500px ///////
    @media only screen and (max-width: 31.25em) {
      margin: $mg-15 0 auto;
    }

    label {
      display: inline-block;
      font-size: $font-size-md-4;
      margin-bottom: $mg-1;
      //////// 400px ///////
      @media only screen and (max-width: 25em) {
        font-size: $font-size-md-3;
      }
    }
  }

  &__input {
    background: rgba(0, 0, 0, 0.171);
    border: none;
    display: block;
    &:not(:nth-of-type(3)) {
      transition: 0.6s;
      &:focus {
        outline: none;
        background: rgba(0, 0, 0, 0.1);
      }
    }

    &-name {
      height: $mg-14;
      width: 35vw;
      border-radius: 5px;
      margin-bottom: 3vw;

      //////// 500px ///////
      @media only screen and (max-width: 31.25em) {
        width: 100%;
        border-radius: 3px;
      }
    }

    &-message {
      width: 35vw;
      height: 12rem;
      border-radius: 5px;
      padding-top: 0.7rem;
      font-family: inherit;
      resize: none;
      font-size: $font-size-sm-1;

      //////// 500px ///////
      @media only screen and (max-width: 31.25em) {
        width: 100%;
        border-radius: 3px;
      }
    }

    &-submit {
      font-size: $font-size-sm-1;
      font-weight: bolder;
      border-radius: 5px;
      width: max-content;
      background-color: $color-primary-1;
      color: $color-white;
      padding: 1.5rem 3rem;
      cursor: pointer;
      margin: $mg-7 0 0 auto;
    }
  }
}

.foot {
  &__anchors {
    @include img-rotate;
  }
}
