.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba($color-white, 0.93);

  &__host {
    font-weight: bold;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 3px;
      transform-origin: left;
      top: 2.7rem;
      width: 1%;
      transition: 0.4s;
    }

    @media only screen and (hover: hover) {
      &:hover {
        &::after {
          background-color: $color-primary-1;
          width: 100%;
        }
      }
    }
  }

  /*////////////////*/
  /*======== DropDown CSS Rules ============*/
  /*////////////////*/

  &__page-navigate {
    position: relative;
    text-transform: uppercase;
    font-size: $font-size-sm-1;
    color: transparent;
    background-color: black;
    background-clip: text;
    font-weight: bold;
    top: 0.2rem;
    cursor: pointer;
    @extend %button-set;
    padding: 0.7rem 1.3rem;
    transition: 0.3s;

    //////// 230px ///////
    @media only screen and (max-width: 14.375em) {
      font-size: $font-size-sm-2;
    }
    @include btn-animate;
    &:active,
    &:focus {
      outline: none;
      background-color: $color-primary-1;
    }
  }
  .dropdown {
    &__ul {
      text-align: center;
      position: relative;
      perspective: 300px;
      position: absolute;
      top: $mg-17;
      margin-left: $mg-7;
    }
    &__li {
      background-color: rgba($color-primary-1, 0.85);
      width: 95%;
      padding: $mg-3;

      display: none;
      opacity: 0;
      color: $color-white;
      &:last-of-type {
        border-radius: 0 0 5px 5px;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 3px;
        transform-origin: left;
        top: $mg-12;
        width: 1%;
        transition: 1s;
      }

      @media only screen and (hover: hover) {
        &:hover {
          &::after {
            background-color: $color-white;
            width: 85%;
          }
        }
      }
    }
  }
  //////////// DropDown CSS Rules END //////////////

  ////////////////////
  ////////// Hamburger Nav CSS Rules //////////////
  ////////////////////

  .nav {
    &__hamburger {
      width: min-content;
      position: relative;
      z-index: 300;
      margin-top: $mg-3;
      cursor: pointer;
    }
    &__icon {
      position: relative;
      width: 3rem;
      height: 2px;
      background-color: black;
      display: inline-block;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: inherit;
        height: inherit;
        display: inline-block;
        background-color: inherit;
        transition: background-color 0.9s, transform 0.5s, top 0.25s;
      }

      &::before {
        @include icon-adjust(before);
      }
      &::after {
        @include icon-adjust(after);
      }
    }
  }
}

/*
.nav-content {
   &:focus {
          .nav__icon {
            background-color: transparent;
            &::before {
              top: 0;
              background-color: $color-primary-1;
            }
            &::after {
              top: 0;
              background-color: $color-primary-1;
            }
          }
        }    

    }
*/

.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    position: relative;
    z-index: 3000;
    z-index: 3000;
    text-align: center;
    cursor: pointer;
  }
  &__icon {
    position: relative;
    margin-top: $mg-8;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: black;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: top 0.2s, background-color 0.5s, transform 0.5s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 250;
    background-color: $color-primary-1;
    clip-path: circle(1px at 52% 50%);
    visibility: hidden;
    transition: clip-path 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    list-style: none;
    text-align: center;
    width: min-content;
    transition: transform 0.6s 0.4s cubic-bezier(0.44, -0.51, 0, 1.91);
  }

  &__item {
    margin: $mg-4;
    font-size: $font-size-md-1;
    @include responsive(350px) {
      margin-bottom: $mg-15;
    }
    @include responsive(300px) {
      font-size: 2.7rem;
    }
    @include responsive(230px) {
      font-size: 2.3rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      width: max-content;
      font-weight: 400;
      padding: $mg-7;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      transition: all 0.4s;
      perspective: 33rem;
      &:active {
        background-position: 100%;
        color: $color-primary-1;
      }
      @include responsive(350px) {
        padding: $mg-1;
      }
      @include responsive(250px) {
        padding: 0;
      }
      @include responsive(hover) {
        background-position: 100%;
        color: $color-primary-1;
        transform: translateX(15px);
        .link {
          &__icon {
            animation: none;
          }
        }
      }
      .link {
        &__text {
          display: inline-block;
          margin-left: $mg-13;
          letter-spacing: 2px;@include responsive(300px) {
            margin-left: $mg-10;
          }
          @include responsive(230px) {
            margin-left: $mg-6;
          }
      }
      &__icon {
        width: 4.5rem;
        color: $color-white;
        @include responsive(230px) {
          width: 3.5rem;
        }
        &--1 {
          animation: rotateInfinite infinite 4.5s ease-in-out 4s;
          -moz-animation: none;
        }
        &--2 {
          animation: rotateInfinite infinite 4.5s ease-in-out 4.4s;
          -moz-animation: none;
        }
        &--3 {
          animation: rotateInfinite infinite 4.5s ease-in-out 4.7s;
          -moz-animation: none;
        }
      }
      }
    }
  }

  &__checkbox:checked ~ &__nav {
    visibility: visible;
    clip-path: circle(1000px at 52% 50%);
  }
  &__checkbox:checked ~ &__nav &__list {
    transform: translate(-50%, -50%) !important;
  }
  &__checkbox:checked ~ &__button &__icon {
    &,
    &::before,
    &::after {
      background-color: $color-white;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

.side-nav {
  &__anchor {
    @include img-rotate;
  }
}

.intro-section {
  &__btn {
    margin: 0 auto;
    padding-top: 5.5vh;
    margin-top: $mg-8;
    font-size: $font-size-sm-1;
    font-weight: bolder;
    width: max-content;

    //////// 350px ///////
    @media only screen and (max-width: 21.875em) {
      display: flex;
      flex-direction: column;
      font-size: $font-size-md-3;
      margin-top: 0;
      padding-top: $mg-12;
    }

    &-1 {
      @extend %button-set;
      background-color: $color-primary-1;
      color: $color-white;
      @include btn-animate($btn-color: redd);
    }

    &-2 {
      @extend %button-set;
      color: $color-primary-1;
      padding: 1.32rem 4.5rem;
      margin-left: 3rem;
      border: 1px solid $color-primary-1;
      @include btn-animate($color-primary-1, $color-white);

      @media only screen and (max-width: 21.875em) {
        margin-top: $mg-10;
        margin-left: 0;
        padding-top: 1.84rem;
        padding-bottom: 1.84rem;
      }
    }
  }
}

.articles {
  &__anchor-container {
    background-color: $color-primary-1;
    margin-left: auto;
    font-size: $font-size-md-2;
    padding: 0.5rem;
    width: 4.2rem;
    text-align: center;
    height: min-content;
    border-radius: 50%;
    min-width: 4.5rem;

    @media only screen and (hover: hover) {
      &:hover {
        cursor: pointer;

        .articles__arrows {
          width: 2.7rem;
        }
      }
    }
  }

  & [href="#"] {
    display: block;
    height: 100%;
    width: 100%;
  }
  &__arrows {
    display: inline-block;
    position: relative;
    background-color: $color-white;
    width: 2rem;
    height: 2px;
    transform: translateY(-0.6rem);
    transition: 0.2s;

    //////// 400px ///////
    @media only screen and (max-width: 25em) {
      height: 1.8px;
    }

    //////// 220px ///////
    @media only screen and (max-width: 13.75em) {
      height: 1.45px;
    }

    &::before {
      position: absolute;
      content: "";
      right: -0.1rem;
      bottom: 0.4rem;
      width: 1.2rem;
      height: 1.5px;
      background-color: inherit;
      transform: rotate(30deg);

      //////// 400px ///////
      @media only screen and (max-width: 25em) {
        height: 1.4px;
      }

      //////// 350px ///////
      @media only screen and (max-width: 21.875em) {
        right: -0.27rem;
        transform: rotate(36deg);
      }

      //////// 220px ///////
      @media only screen and (max-width: 13.75em) {
        height: 1px;
        transform: rotate(38deg);
      }
    }

    &::after {
      position: absolute;
      content: "";
      right: -0.2rem;
      top: 0.3rem;
      width: 1.2rem;
      height: 1.5px;
      background-color: inherit;
      transform: rotate(-32deg);

      //////// 400px ///////
      @media only screen and (max-width: 25em) {
        height: 1.4px;
      }

      //////// 220px ///////
      @media only screen and (max-width: 13.75em) {
        height: 1px;
        transform: rotate(-34deg);
      }
    }
  }
}

.form {
  grid-row: 6 / 7;
  grid-column: center-start / center-end;
  padding: 10vw 0 0;
  margin-bottom: 5rem;

  &__content {
    display: flex;
    padding: 0 2.5vw;
    margin-top: 3vw;

    //////// 500px ///////
    @media only screen and (max-width: 31.25em) {
      display: block;
    }

    //////// 220px ///////
    @media only screen and (max-width: 13.75em) {
      padding: 0;
    }
  }

  &__left {
    flex: 0 0 40%;
  }

  &__p {
    font-size: $font-size-md-4;
    margin-bottom: $mg-3;

    //////// 400px ///////
    @media only screen and (max-width: 25em) {
      font-size: $font-size-md-3;
    }

    &-1 {
      font-size: $font-size-md-3;
    }
    &-2 {
    }

    &-3 {
      display: inline-block;
      margin: $mg-4 0 0;
    }
  }

  &__h2 {
    font-size: $font-size-lg-2;
    color: $color-primary-1;

    //////// 500px ///////
    @media only screen and (max-width: 31.25em) {
      margin-bottom: $mg-16;
    }

    &-line {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        display: block;
        left: 0;
        top: 4.6rem;
        width: 108%;
        height: 3px;
        background-color: $color-primary-1;
      }
    }
  }

  &__h3 {
    font-size: $font-size-md-2;
    font-weight: 400;
    //////// 400px ///////
    @media only screen and (max-width: 25em) {
      font-size: $font-size-md-1;
    }

    &-1 {
      margin: $mg-5 0 $mg-4;
    }

    &-2 {
      margin: $mg-8 0 $mg-5;
    }
  }

  &__anchors {
    @include img-rotate;
    display: inline-block;
    &:not(:last-of-type) {
      margin-right: $mg-7;
    }
  }

  &__socials {
    width: 2.5rem;
  }

  &__right {
    flex: 0 0 1fr;
    margin-top: $mg-2;
    margin-left: 7rem;
    //////// 500px ///////
    @media only screen and (max-width: 31.25em) {
      margin: $mg-15 0 auto;
    }

    label {
      display: inline-block;
      font-size: $font-size-md-4;
      margin-bottom: $mg-1;
      //////// 400px ///////
      @media only screen and (max-width: 25em) {
        font-size: $font-size-md-3;
      }
    }
  }

  &__input {
    background: rgba(0, 0, 0, 0.171);
    border: none;
    display: block;
    &:not(:nth-of-type(3)) {
      transition: 0.6s;
      &:focus {
        outline: none;
        background: rgba(0, 0, 0, 0.1);
      }
    }

    &-name {
      height: $mg-14;
      width: 35vw;
      border-radius: 5px;
      margin-bottom: 3vw;

      //////// 500px ///////
      @media only screen and (max-width: 31.25em) {
        width: 100%;
        border-radius: 3px;
      }
    }

    &-message {
      width: 35vw;
      height: 12rem;
      border-radius: 5px;
      padding-top: 0.7rem;
      font-family: inherit;
      resize: none;
      font-size: $font-size-sm-1;

      //////// 500px ///////
      @media only screen and (max-width: 31.25em) {
        width: 100%;
        border-radius: 3px;
      }
    }

    &-submit {
      font-size: $font-size-sm-1;
      font-weight: bolder;
      border-radius: 5px;
      width: max-content;
      background-color: $color-primary-1;
      color: $color-white;
      border: 1px solid transparent;
      padding: 1.5rem 3rem;
      cursor: pointer;
      margin: $mg-7 0 0 auto;
      @include btn-animate($btn-color: redd);
      display: block;
    }
  }
}
