/////////////////////////////////////
///////////// PLaceholders.

%icon-set {
  width: 3rem;
}

/// Buttons ///

%button-set {
  padding: 1.4rem 2.8rem;  
  border: 1px solid transparent; 
  border-radius: 5px;  
  @include responsive(350px) {
    padding-top: $mg-7;  
    padding-bottom: $mg-7; 
  }
  @include responsive(250px) {
    border-radius: 4px;
  }
}

%h3-set {
  margin-bottom: $mg-7;
  &:not(:first-of-type) {
    margin-top: $mg-17;
  }
}
      